@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: hsl(226, 43%, 10%);
  font-family: "Rubik", sans-serif;
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: center;
  align-items: center;
}
